.gradle/
build/
.idea/
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
*.apk
*.aab
*.h264
*.mp4
*.rar
*.exe
*.pyc
pc-receiver/.venv/
pc-receiver/__pycache__/
pc-receiver/build/
pc-receiver/dist/
pc-receiver/recordings/
